<div class="page">

	<h1>What is Your Goal?</h1>

	<ul class="select">
		<li class="option">
			<div>Strength</div>
		</li>
		<li class="option">
			<div>Combination</div>
		</li>
		<li class="option">
			<div>Endurance</div>
		</li>
	</ul>

	{{> partials/actionButtons}}
</div>